.container {
  display: flex;
  width: 100%;
  font-size: 14px;
  background-color: white; }
  .container .sideMenu {
    width: 30%;
    position: fixed; }
    .container .sideMenu .menuItem {
      display: flex;
      border: 1px solid navy;
      border-radius: 10px;
      height: 2.5em;
      margin: .7em 0 0 0;
      padding: 1em 0 0 1em;
      cursor: pointer; }
      .container .sideMenu .menuItem:hover {
        background-color: gray; }
      .container .sideMenu .menuItem .top {
        border: none; }
      .container .sideMenu .menuItem .icon {
        height: 2em;
        width: 2em;
        margin: 0 1em 0 0; }
        .container .sideMenu .menuItem .icon .profile {
          background-image: url("https://pbs.twimg.com/profile_images/1090932791829819393/Syg_hmp6_bigger.jpg");
          background-size: contain; }
      .container .sideMenu .menuItem .title {
        font-size: 1.2em;
        font-weight: 600; }
  .container .newsFeedWrapper {
    margin: 1em 0 0 32%;
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column; }
    .container .newsFeedWrapper .tweetType {
      display: flex; }
      .container .newsFeedWrapper .tweetType .icon {
        margin: .5em;
        padding: .3em;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        line-height: 1em;
        text-align: center;
        vertical-align: middle; }
        .container .newsFeedWrapper .tweetType .icon:hover {
          background-color: gray;
          color: black; }
    .container .newsFeedWrapper .tweetUpdate {
      width: 10em; }
    .container .newsFeedWrapper .actions {
      display: flex;
      width: 100%;
      justify-content: space-between; }
    .container .newsFeedWrapper .tweetWrapper .content .profileImage {
      background-image: url("https://pbs.twimg.com/profile_images/1090932791829819393/Syg_hmp6_bigger.jpg");
      background-size: contain;
      width: 5em;
      height: 5em;
      border-radius: 50%; }
    .container .newsFeedWrapper .tweetWrapper .content .textUpdate textarea {
      width: 100%;
      height: 7em;
      font-size: 1em; }
    .container .newsFeedWrapper .newsFeed {
      margin: 2em 0 0 0; }
      .container .newsFeedWrapper .newsFeed .item {
        border: 1px solid blue;
        border-radius: 10px;
        margin: 2em;
        padding: 1.5em;
        display: flex;
        flex-direction: column; }
      .container .newsFeedWrapper .newsFeed .userProfile {
        display: flex; }
        .container .newsFeedWrapper .newsFeed .userProfile .image {
          margin: 0 .7em 0 0;
          width: 3em;
          height: 3em;
          background-image: url("https://pbs.twimg.com/profile_images/1090932791829819393/Syg_hmp6_bigger.jpg");
          background-size: contain;
          border-radius: 50%; }
        .container .newsFeedWrapper .newsFeed .userProfile .name {
          font-size: 1em;
          font-weight: 600; }
      .container .newsFeedWrapper .newsFeed .content {
        font-size: 1em;
        margin: 1em 0; }
      .container .newsFeedWrapper .newsFeed .actionsWrapper {
        display: flex; }
        .container .newsFeedWrapper .newsFeed .actionsWrapper .action {
          width: 1.3em;
          height: 1.3em; }
          .container .newsFeedWrapper .newsFeed .actionsWrapper .action:hover {
            background-color: gray; }
  .container .gongButton {
    margin: .7em 0 0 0;
    padding: .3em;
    background-color: #1da1f2;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    height: 3em;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    font-size: 1.3em;
    font-weight: 600; }
  .container .gongButton:hover {
    background-color: #1da1dc; }
  @media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .container .container {
      font-size: 8px; } }

/*# sourceMappingURL=style.css.map */
